- title '一覧 - revenger'
- javascript do
  != "$(function() { Revenger.initPostIndex(#{request.query_parameters.to_json}); });"

#search_and_sort
  - if params[:created_at].present?
    - if params[:created_at] == "asc"
      = link_to "作成日時▲", params.permit(:search).merge(created_at: "desc", modified_at: nil), class: 'btn'
    - else
      = link_to "作成日時▼", params.permit(:search).merge(created_at: "asc", modified_at: nil), class: 'btn'
    = link_to "更新日時", params.permit(:search).merge(created_at: nil, modified_at: "asc"), class: 'btn'
  - elsif params[:modified_at].present?
    = link_to "作成日時", params.permit(:search).merge(created_at: "asc", modified_at: nil), class: 'btn'
    - if params[:modified_at] == "asc"
      = link_to "更新日時▲", params.permit(:search).merge(created_at: nil, modified_at: "desc"), class: 'btn'
    - else
      = link_to "更新日時▼", params.permit(:search).merge(created_at: nil, modified_at: "asc"), class: 'btn'
  - else
    = link_to "作成日時▼", params.permit(:search).merge(created_at: "asc", modified_at: nil), class: 'btn'
    = link_to "更新日時", params.permit(:search).merge(created_at: nil, modified_at: "asc"), class: 'btn'

  = form_tag posts_path, method: :get, class: 'form-search' do
    .input-append
      = text_field_tag :search, params[:search], class: 'input-medium search-query'
      = button_tag(type: 'submit', class: 'btn', 'data-behavior' => 'search') do
        %i.icon-search



= paginate @posts

#posts

= paginate @posts
