- if @count > 0
  -  title "レビュー (#{@count}) - revenger"
- else
  -  title "レビュー - revenger"
- if @post.present?
  - javascript do
    != "$(function() { Revenger.initReview(); });"

- if @post.present?
  のこり
  %span.badge.badge-important{ 'data-behavior' => 'count', 'data-count' => @count }= @count
  件
  #post

- elsif !current_user.posts.exists?
  .post
    あなたはメモを一つも作られていないようです。#{link_to '新規作成', new_post_path}をクリックして、新しい復習メモを作ってみましょう！
- else
  .post
    今のところ復習ノルマはありません。#{link_to '一覧ページ', posts_path}を眺めたり、#{link_to '新規作成', new_post_path}から新しい復習メモを作ったりしてみましょう！
